<style type="text/css">
	#graphdiv1.dygraph-legend {
		width: 100px;
		background-color: transparent;
		left: 40px;
	}
	#graphdiv1 .dygraph-label {
	    /* This applies to the title, x-axis label and y-axis label */
	    font-family: verdana, Helvetica, Helvetica/*sans-serif*/;
	}
	#graphdiv1 .dygraph-title {
	    /* This rule only applies to the chart title */
	    font-size: 30px;
	    text-shadow: gray 2px 2px 2px;  /* color, delta-x, delta-y, blur radius */
	    }
	#graphdiv1 .dygraph-ylabel {
	    /* This rule only applies to the y-axis label */
	    font-size: 20px;
		  font-weight: bold;
	    /*text-shadow: gray -2px 2px 2px;   (offsets are in a rotated frame) */
	    }
	#graphdiv1 .dygraph-xlabel {
	    /* This rule only applies to the y-axis label */
	    font-size: 20px;
		  font-weight: bold;
	    /* text-shadow: gray -2px 2px 2px;  (offsets are in a rotated frame) */
	    }
	h2 {
		color:green;
		font-family:arial;
		font-size:15px;
	}
	.input{
      width:50px;
    }
  .inputlable {
		position:relative;
		left: 280px;
		top: 13px;
	} 
	/*
	.annSuc {
		color:black !important;
		background-color:yellow !important;
	  }
	.annRej {
		color:black !important;
		background-color:red !important;
	  }
	*/

	#graphdiv1 {left: 10px; top: 50px; }
	#status1 {left: 1020px; top: 50px;}
	#status1 > span.highlight { border: 2px solid grey;background-color:yellow }		
  #b_hideLine {position:relative; left: 430px; }
  #display {position:relative; left: 390px; }

/*	#b_restore  {left: 10px; top: 705px;  }
	#b_hideLine {position:relative; right: -50px; }
	#b_moveToLeft {left: 70px; top: 705px;}
	#b_moveToRight {left: 155px; top: 705px;}	
	#range {left: 300px; top: 730px;}
	#t_setTime {left: 300px; top: 755px;}
	#display {left:800px; top:715px;}*/ 
</style>