
#graphdiv1 .dygraph-label {
    /* This applies to the title, x-axis label and y-axis label */
    font-family: verdana, Helvetica, Helvetica/*sans-serif*/;
}

#graphdiv1 .dygraph-ylabel {
    /* This rule only applies to the y-axis label */
    font-size: 20px;
	font-weight: bold;
    /*text-shadow: gray -2px 2px 2px;   (offsets are in a rotated frame) */
    }
#graphdiv1 .dygraph-xlabel {
    /* This rule only applies to the y-axis label */
    font-size: 20px;
	font-weight: bold;
    /* text-shadow: gray -2px 2px 2px;  (offsets are in a rotated frame) */
}
#graphdiv1 .dygraph-title {
    /* This rule only applies to the chart title */
    font-size: 30px;
    text-shadow: gray 2px 2px 2px;  /* color, delta-x, delta-y, blur radius */
    }


#graphdiv1.dygraph-legend {
	width: 100px;
	background-color: transparent;
	left: 40px;
}
/*
body {
	
}
.annSuc {
	color:black !important;
	background-color:yellow !important;
}
.annRej {
	color:black !important;
	background-color:red !important;
}
#graphdiv1 { position: absolute; left: 10px; top: 100px; }
#graphdiv2 { position: absolute; left: 10px; top: 750px;}*/
/*#restore {position: absolute; left: 10px; top: 700px;}
#range {position: absolute; left: 300px; top: 720px;}
#visibility {position: absolute; left: 900px; top: 700px;}
#status1 {position: absolute; left: 1300px; top: 100px;}
#status1 > span.highlight { border: 1px solid grey; }
#status2 {position: absolute; left: 1300px; top: 750px;}

#display {position:absolute; left:900px; top:50px;}    */